POSTGRES_USER=todo
POSTGRES_PASSWORD=todo
POSTGRES_DB=todo
RABBITMQ_USER=todo
RABBITMQ_PASSWORD=todo

DATABASE_URL=postgresql+asyncpg://todo:todo@citus-coordinator:5432/todo
RABBITMQ_URL=amqp://todo:todo@rabbitmq:5672/
REDIS_URL=redis://redis:6379/0
TODO_QUEUE_NAME=todo.generate.steps
TODO_CACHE_TTL_SECONDS=120
TODO_CACHE_KEY_PREFIX=todo
JWT_SECRET_KEY=change-me-in-local-dev
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
WORKER_RETRY_DELAY_SECONDS=5
YANDEX_CLOUD_API_KEY=
YANDEX_CLOUD_FOLDER=
OPENAI_PROMPT_ID=fvtit6j69998ovg5jdnv
CITUS_INTER_NODE_PASSWORD=todo
CITUS_COORDINATOR_HOST=citus-coordinator
CITUS_COORDINATOR_PORT=5432
CITUS_WORKER_NODES=citus-worker-1:5432,citus-worker-2:5432
CITUS_SHARD_COUNT=8
CITUS_SHARD_REPLICATION_FACTOR=2
