POSTGRES_USER=todo
POSTGRES_PASSWORD=todo
POSTGRES_DB=todo

DATABASE_URL=postgresql+asyncpg://todo:todo@citus-coordinator:5432/todo
CITUS_INTER_NODE_PASSWORD=todo
CITUS_COORDINATOR_HOST=citus-coordinator
CITUS_COORDINATOR_PORT=5432
CITUS_WORKER_NODES=citus-worker-1:5432,citus-worker-2:5432
CITUS_SHARD_COUNT=8
CITUS_SHARD_REPLICATION_FACTOR=2
